* {
    padding: 0;
    margin: 0;
}


/*SESSION 01*/
/* carousel */
.carousel-text {
    position: absolute !important;
    top: 60% !important;

    left: 30% !important;
    transform: translate(-50%, -40%) !important;
}

.caro-img {

    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-text p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 20;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.carousel-text h5 {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 70;
    font-size: 27.33px;
    line-height: 50px;

    color: #FFFFFF;

}

.button1 {
    width: 200px;
    height: 48px;
    background-color: #FFFFFF;
    border: none;
    color: #000000;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    cursor: pointer;
}

.button2 {
    width: 200px;
    height: 48px;
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    cursor: pointer;
}

.button1:hover {
    background-color: antiquewhite;
}

.button2:hover {
    background-color: rgb(102, 100, 98);
}

/*SESSION 02*/

.section02-full-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    /*position: relative;*/
    margin-top: 45px;
}

.section02-full-container .section02-card-container {
    display: flex;
    flex-direction: column;
    transition: transform 5s;
}

.section02-card-img {

    transition: transform 5s;
    width: 100%;
    height: 100%;
}

.section02-card-img :hover {
    transform: scale(0.75);


}

.section-02-card-text {
    text-align: center;
    margin-top: 10px;
}

/*.section02-card-img .position{
    position: relative;
}*/

/*
.button3 {
    width: 200px;
    height: 48px;
    background-color: #FFFFFF;
    border: none;
    color: #000000;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
    position: absolute;
    top: 150px;
    left: 470px;
    visibility: hidden;
    
    
}*/

/* section 03*/

.section03-full-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section03-button {
    width: 200px;
    height: 48px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    color: #000000;
    padding-top: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 25px;
    cursor: pointer;
}

.section03-button:hover {
    background-color: antiquewhite;
}

/*Section 04*/

.section04-full-container {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    margin-top: 45px;
}

/* SECTION 04 RIGHT PART*/

.section04-left-img img {
    width: 642px;
    height: 648px;

}

/* SECTION 04 LEFT PART*/

.section04-right-img {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

/*---------- TOP------*/

.section04-right-img .section04-right-img-container-1 img {
    width: 642px;
    height: 316px;
}

/*---------- BOTTOM ------*/

.section04-right-img-container-2 {
    display: flex;
    column-gap: 16px;
}

/*---------- BOTTOM left------*/

.section04-right-img-container-2 .section04-right-img-container-2-img-1 img {
    width: 313px;
    height: 316px;
}

/*---------- BOTTOM Right------*/

.section04-right-img-container-2 .section04-right-img-container-2-img-2 img {
    width: 313px;
    height: 316px;
}


/* RIGHT IMAGE TEXT*/

/*.text {
    position: absolute !important;
    top: 270% !important;

    left: 70% !important;
    transform: translate(-50%, -40%) !important;
}

.text h6 {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 23.04px;
    line-height: 28px;

    color: #FFFFFF;
}

.text p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    


    color: #FFFFFF;
}

.text .button5 {

    width: 200px;
    height: 48px;
    background-color: #FFFFFF;
    border: none;
    color: #000000;
    padding-top: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    
    cursor: pointer;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13.33px;
    line-height: 18px;
   
}
*/


/*------------------------

        Footer

--------------------------*/

.footer-full-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 45px;
    column-gap: 40px;
    margin-bottom: 25px;
}

/*----------------

    COLUMN 01
------------------*/

.footer-full-container .footer-container-01 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-full-container .footer-container-01 .footer-container-01-para-1 p {
    width: 123px;
    height: 22px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;
}

.footer-full-container .footer-container-01 .footer-container-01-para-2 p {
    width: 423px;
    height: 66px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;

    color: #000000;
}

.footer-full-container .footer-container-01 .footer-container-01-para-3 p {
    width: 360px;
    height: 22px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;
}

.footer-container-01-icons {
    display: flex;
    gap: 10px;

}

.footer-container-01-icons .a  i:hover{
    background-color: beige;
}
.footer-container-01-icons .b  i:hover{
    background-color: beige;
}
.footer-container-01-icons .c  i:hover{
    background-color: beige;
}
.footer-container-01-icons .d  i:hover{
    background-color: beige;
}


/*-----------
  column 2
------------*/
.footer-full-container .footer-container-02 {
    display: flex;
    flex-direction: column;

}

.footer-full-container .footer-container-02 .footer-container-02-para-01 {
    width: 197px;
    height: 22px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;

}

.footer-full-container .footer-container-02 .footer-container-02-list ul {
    list-style: none;
    text-align: justify;
    padding-left: 0px;
    margin-top: 15px;
}

.footer-full-container .footer-container-02 .footer-container-02-list ul li {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;
}

/*---------------

 column 03

----------------*/

.footer-full-container .footer-container-03 {
    display: flex;
    flex-direction: column;

}

.footer-full-container .footer-container-03 .footer-container-03-para-01 {
    width: 197px;
    height: 22px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;

}

.footer-full-container .footer-container-03 .footer-container-03-list ul {
    list-style: none;
    text-align: justify;
    padding-left: 0px;
    margin-top: 15px;
}

.footer-full-container .footer-container-03 .footer-container-03-list ul li {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;
}

/*----------
 Column 04
------------*/

.footer-full-container .footer-container-04 {
    display: flex;
    flex-direction: column;

}

.footer-full-container .footer-container-04 .footer-container-04-para-1 p {
    width: 143px;
    height: 22px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;
}

.footer-full-container .footer-container-04 .footer-container-04-para-2 p {
    width: 360px;
    height: 22px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;

    color: #000000;
}

.footer-full-container .footer-container-04 .footer-container-04-form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

}

.footer-full-container .footer-container-04 .footer-container-04-form.footer-container-04-form-input {
    width: 306px;
    height: 48px;
    border: 0.5px solid rgba(0, 0, 0, 0.5);


}

.footer-full-container .footer-container-04 .footer-container-04-form.footer-container-04-form-input::placeholder {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 13.33px;
    line-height: 18px;
    width: 146px;
    height: 18px;
    color: rgba(0, 0, 0, 0.8);


}



.footer-full-container .footer-container-04 .footer-container-04-form .footer-container-04-form-submit {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13.33px;
    line-height: 18px;
    margin-top: 15px;
    color: #FFFFFF;


}

/*RESPONSIVE FOR SMALL MOBILE PHONE*/
@media only screen and (max-width:576px) {

    /* carousel */
    .carousel-text {
        position: absolute !important;
        top: 55% !important;

        left: 55% !important;
        transform: translate(-55%, -55%) !important;
    }

    .carousel-text p {

        font-weight: 10;
        font-size: 15px;
        margin-top: 29px;

    }

    .carousel-text h3 {
        font-family: 'Century Gothic';
        font-style: normal;
        font-weight: 70;
        font-size: 27.33px;
        line-height: 50px;
        text-align: justify;

        color: #FFFFFF;

    }

    .button1 {
        width: 100%;
        height: 61%;
        padding: 0px 32px;
        margin-bottom: 20px;
    }

    .button2 {
        width: 100%;
        height: 61%;
        padding: 0px 32px;
        margin-bottom: 20px;
    }


    /* Session 02*/

    .section02-full-container {
        grid-template-columns: repeat(1, 1fr) !important;
    }


    /*Section 04*/

    .section04-full-container {
        flex-direction: column-reverse;
        column-gap: 0px;
    }

    /* SECTION 04 Right PART*/
    .section04-left-img img {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
    }

    /* SECTION 04 left PART*/


    /*---------- TOP------*/

    .section04-right-img .section04-right-img-container-1 img {
        width: 100%;
        height: 100%;
        margin-top: 15px;
    }

    /*---------- BOTTOM ------*/

    .section04-right-img-container-2 {

        flex-direction: column;

    }

    /*---------- BOTTOM left------*/

    .section04-right-img-container-2 .section04-right-img-container-2-img-1 img {
        width: 100%;
        height: 100%;
    }

    /*---------- BOTTOM Right------*/

    .section04-right-img-container-2 .section04-right-img-container-2-img-2 img {
        width: 100%;
        height: 100%;
        margin-top: 15px;
    }






    /*------------------------

        Footer

    --------------------------*/

    .footer-full-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }

    /*----------------

    COLUMN 01
    ------------------*/

    .footer-full-container .footer-container-01 .footer-container-01-para-1 p {
        width: 100%;
        height: 100%;
        text-align: justify;
    }

    .footer-full-container .footer-container-01 .footer-container-01-para-2 p {
        width: 100%;
        height: 100%;
        text-align: justify;
    }

    .footer-full-container .footer-container-01 .footer-container-01-para-3 p {
        width: 100%;
        height: 100%;
        text-align: justify;
    }


    /*-----------
      column 2
   ------------*/


    .footer-full-container .footer-container-02 .footer-container-02-para-01 {
        width: 100%;
        height: 100%;


    }

    /*---------------

 column 03

----------------*/



    .footer-full-container .footer-container-03 .footer-container-03-para-01 {
        width: 100%;
        height: 100%;


    }


    /*----------
 Column 04
------------*/



    .footer-full-container .footer-container-04 .footer-container-04-para-1 p {
        width: 100%;
        height: 100%;

    }

    .footer-full-container .footer-container-04 .footer-container-04-para-2 p {
        width: 100%;
        height: 100%;


    }



    .footer-full-container .footer-container-04 .footer-container-04-form.footer-container-04-form-input {
        width: 100%;
        height: 100%;



    }


}

/* Responsive for medium mobile */

@media only screen and (min-width:577px) and(max-width:768px) {

    /* carousel */

    .carousel-text {
        position: absolute !important;
        top: 50% !important;

        left: 80% !important;
        transform: translate(-50%, -80%) !important;
    }


    .carousel-text p {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 20;
        font-size: 16px;
        line-height: 22px;
        text-align: center !important;
        /* identical to box height */

        letter-spacing: 0.05em;

        color: #FFFFFF;
    }

    .carousel-text h5 {
        font-family: 'Century Gothic';
        font-style: normal;
        font-weight: 70;
        font-size: 27.33px;
        line-height: 50px;

        color: #FFFFFF;

    }

    /* Session 02*/

    .section02-full-container {

        grid-template-columns: repeat(1, 1fr) !important;

    }

    /*Section 04*/

    .section04-full-container {

        flex-direction: column-reverse;
        column-gap: 0px;
        align-items: center;


    }

    /* SECTION 04 Right PART*/

    .section04-left-img img {
        width: 100%;
        height: 100%;
        margin-left: 2px;
    }


    /* SECTION 04 Left PART*/


    /*---------- TOP------*/

    .section04-right-img .section04-right-img-container-1 img {
        width: 100%;
        height: 100%;
        margin-top: 15px;
    }

    /*---------- BOTTOM ------*/

    .section04-right-img-container-2 {

        flex-direction: column;

    }

    /*---------- BOTTOM left------*/

    .section04-right-img-container-2 .section04-right-img-container-2-img-1 img {
        width: 100%;
        height: 100%;
    }

    /*---------- BOTTOM Right------*/

    .section04-right-img-container-2 .section04-right-img-container-2-img-2 img {
        width: 100%;
        height: 100%;
        margin-top: 15px;
    }


    /*------------------------

        Footer

    --------------------------*/

    .footer-full-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /*----------------

    COLUMN 01
    ------------------*/

    .footer-full-container .footer-container-01 .footer-container-01-para-1 p {
        width: 100%;
        height: 100%;
        text-align: justify;
    }

    .footer-full-container .footer-container-01 .footer-container-01-para-2 p {
        width: 100%;
        height: 100%;
        text-align: justify;
    }

    .footer-full-container .footer-container-01 .footer-container-01-para-3 p {
        width: 100%;
        height: 100%;
        text-align: justify;
    }


    /*-----------
      column 2
   ------------*/


    .footer-full-container .footer-container-02 .footer-container-02-para-01 {
        width: 100%;
        height: 100%;


    }

    /*---------------

 column 03

----------------*/



    .footer-full-container .footer-container-03 .footer-container-03-para-01 {
        width: 100%;
        height: 100%;


    }


    /*----------
 Column 04
------------*/



    .footer-full-container .footer-container-04 .footer-container-04-para-1 p {
        width: 100%;
        height: 100%;

    }

    .footer-full-container .footer-container-04 .footer-container-04-para-2 p {
        width: 100%;
        height: 100%;


    }



    .footer-full-container .footer-container-04 .footer-container-04-form.footer-container-04-form-input {
        width: 100%;
        height: 100%;



    }




}

/* Responsive for large device */

@media only screen and (min-width:769px) and(max-width:992px) {

    /* Session 02*/

    .section02-full-container {

        grid-template-columns: repeat(2, 1fr) !important;



    }


}